In [84]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
from scipy import stats
%matplotlib inline

In [10]:
data = pd.read_csv('messidor_features.arff',error_bad_lines=False)

In [18]:
col = ['Quality','Pre-screening','MA1','MA2','MA3','MA4','MA5','MA6','MA7',
      'exudates1','exudates2','exudates3','exudates4','exudates5','exudates6','exudates7',
      'macula_opticdisc','opticdisc_diamter','AM/FM','Class_label']

In [21]:
data.columns = col

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1150 entries, 0 to 1149
Data columns (total 20 columns):
Quality              1150 non-null int64
Pre-screening        1150 non-null int64
MA1                  1150 non-null int64
MA2                  1150 non-null int64
MA3                  1150 non-null int64
MA4                  1150 non-null int64
MA5                  1150 non-null int64
MA6                  1150 non-null int64
MA7                  1150 non-null float64
exudates1            1150 non-null float64
exudates2            1150 non-null float64
exudates3            1150 non-null float64
exudates4            1150 non-null float64
exudates5            1150 non-null float64
exudates6            1150 non-null float64
exudates7            1150 non-null float64
macula_opticdisc     1150 non-null float64
opticdisc_diamter    1150 non-null float64
AM/FM                1150 non-null int64
Class_label          1150 non-null int64
dtypes: float64(10), int64(10)
memory usage: 179.8 KB

In [25]:
data.head()

,Quality,Pre-screening,MA1,MA2,MA3,MA4,MA5,MA6,MA7,exudates1,exudates2,exudates3,exudates4,exudates5,exudates6,exudates7,macula_opticdisc,opticdisc_diamter,AM/FM,Class_label
0,1,1,24,24,22,18,16,13,57.709936,23.799994,3.325423,0.234185,0.003903,0.003903,0.003903,0.003903,0.520908,0.144414,0,0
1,1,1,62,60,59,54,47,33,55.831441,27.993933,12.687485,4.852282,1.393889,0.373252,0.041817,0.007744,0.530904,0.128548,0,1
2,1,1,55,53,53,50,43,31,40.467228,18.445954,9.118901,3.079428,0.840261,0.272434,0.007653,0.001531,0.483284,0.114790,0,0
3,1,1,44,44,44,41,39,27,18.026254,8.570709,0.410381,0.000000,0.000000,0.000000,0.000000,0.000000,0.475935,0.123572,0,1
4,1,1,44,43,41,41,37,29,28.356400,6.935636,2.305771,0.323724,0.000000,0.000000,0.000000,0.000000,0.502831,0.126741,0,1

In [90]:
data.describe()

,Quality,Pre-screening,MA1,MA2,MA3,MA4,MA5,MA6,MA7,exudates1,exudates2,exudates3,exudates4,exudates5,exudates6,exudates7,macula_opticdisc,opticdisc_diamter,AM/FM,Class_label
count,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000
mean,0.996522,0.918261,38.442609,36.922609,35.152174,32.308696,28.756522,21.157391,64.109023,23.092632,8.707596,1.837415,0.561210,0.212469,0.085745,0.037254,0.523244,0.108439,0.335652,0.531304
std,0.058900,0.274086,25.627473,24.112084,22.812025,21.120307,19.515137,15.106656,58.509233,21.611526,11.572178,3.924805,2.485140,1.057568,0.398883,0.179034,0.028047,0.017951,0.472423,0.499236
min,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.349274,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.367762,0.057906,0.000000,0.000000
25%,1.000000,1.000000,16.000000,16.000000,15.000000,14.000000,11.000000,8.000000,22.268986,7.937161,1.242384,0.081552,0.000000,0.000000,0.000000,0.000000,0.502883,0.095786,0.000000,0.000000
50%,1.000000,1.000000,35.000000,35.000000,32.000000,29.000000,25.000000,18.000000,44.233267,17.023514,4.421672,0.481949,0.022324,0.001550,0.000000,0.000000,0.523315,0.106624,0.000000,1.000000
75%,1.000000,1.000000,55.000000,53.000000,51.000000,48.000000,43.000000,32.000000,87.839132,31.310584,11.775557,1.925969,0.192363,0.038503,0.004834,0.003850,0.543678,0.119633,1.000000,1.000000
max,1.000000,1.000000,151.000000,132.000000,120.000000,105.000000,97.000000,89.000000,403.939108,167.131427,106.070092,59.766121,51.423208,20.098605,5.937799,3.086753,0.592217,0.219199,1.000000,1.000000

In [98]:
X = data.drop(['Class_label','Quality','Pre-screening'],axis=1)

In [71]:
from sklearn.preprocessing import StandardScaler

In [72]:
prep = StandardScaler()

In [99]:
X = prep.fit_transform(X)

In [100]:
print(X[:5,:])

[[-0.5638048  -0.53617226 -0.57679649 -0.67777996 -0.65395757 -0.54022149
  -0.10941642  0.03274503 -0.46529828 -0.40866428 -0.2243531  -0.19729816
  -0.20526757 -0.18636453 -0.0833183   2.00496664 -0.71079927]
 [ 0.91962404  0.95750459  1.04586074  1.02748229  0.93524402  0.78427422
  -0.14153635  0.22688976  0.34406836  0.76849142  0.33520912  0.15209743
  -0.11017589 -0.16490118  0.27323731  1.12072878 -0.71079927]
 [ 0.64636084  0.66706743  0.78272714  0.8380087   0.73018575  0.65182465
  -0.40424527 -0.21510278  0.03555803  0.31658987  0.11233687  0.05672594
  -0.19586223 -0.19961917 -1.42535992  0.35397317 -0.71079927]
 [ 0.21694722  0.29364821  0.38802673  0.41169314  0.52512748  0.38692551
  -0.787958   -0.67224503 -0.71730876 -0.46835817 -0.22592432 -0.2009903
  -0.21505664 -0.20817433 -1.68749749  0.84340825 -0.71079927]
 [ 0.21694722  0.25215719  0.25645993  0.41169314  0.42259835  0.51937508
  -0.61132536 -0.7479354  -0.55344898 -0.38584073 -0.22592432 -0.2009903
  -0.21505664 -0.20817433 -0.72812179  1.02002175 -0.71079927]]

In [101]:
y = data['Class_label']

In [53]:
from sklearn.model_selection import train_test_split

In [102]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=0,test_size=0.3)

In [55]:
from sklearn.linear_model import LogisticRegression

In [110]:
lr = LogisticRegression(solver='lbfgs',random_state=0)

In [111]:
lr.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [112]:
predict = lr.predict(X_test)

In [113]:
print("Train - ",lr.score(X_train,y_train))
print("Test - ",lr.score(X_test,y_test))

Train -  0.7204968944099379
Test -  0.7478260869565218

In [63]:
from sklearn.metrics import classification_report,confusion_matrix

In [114]:
print(confusion_matrix(y_test,predict))
print(classification_report(y_test,predict))

[[136  26]
 [ 61 122]]
              precision    recall  f1-score   support

           0       0.69      0.84      0.76       162
           1       0.82      0.67      0.74       183

    accuracy                           0.75       345
   macro avg       0.76      0.75      0.75       345
weighted avg       0.76      0.75      0.75       345